@media screen and (max-width: 1366px) {
    html {
        font-size: 11.3px;
    }
}

@media screen and (max-width: 1290px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 991px) {
    html {
        font-size: 11px;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 5.5rem;
    }
    h2 {
        font-size: 3.8rem;
        line-height: 4.4rem;
    }
    .hero__3d-image-1 {
        display: none;
    }

    .hero__3d-image-2 {
        display: none;
    }

    .hero__3d-image-3 {
        display: none;
    }

    .hero__3d-image-4 {
        display: none;
    }

    .header {
        height: auto;
        padding:0 2rem 3rem 2rem;
    }
    .hero {
        padding-top: 3.5rem;
    }
    .our-solutions {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .big-idea  {
        padding-top: 6rem;
    }
    .our-secret__heading {
        padding: 0 16rem;
    }
    .nft-economy {
        padding-top: 6rem;
        height: auto;
    }
    .nft-economy__content p  {
        margin-bottom: 7rem;
    }
    .smart-design {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .smart-contracts {
        padding-top: 6rem;
        padding-bottom: 8rem;
    }
    .smart-contracts__content {
        margin-bottom: 7rem;
    }
    .our-services {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .our-services__heading {
        padding: 0 15rem;
    }

    .smart-design .grid--3-col {
        grid-template-columns: 1fr auto 1fr;
    }

    .smart-design__scroll-image {
        width: auto;
    }

    .nft-started__content-image-1 {
        display: none;
    }

    .nft-started__content-image-2 {
        display: none;
    }

    .nft-economy__content-shape {
        display: none;
    }

    .big-idea__content-shape {
        display: none;
    }

    .single-circle {
        padding: 0 0.8rem;
    }

    .single-circle p {
        font-size: 1.3rem;
    }

    .single-circle--1 {
        width: 9rem;
        height: 9rem;
        line-height: 9rem;
    }

    .single-circle--2 {
        width: 11.875rem;
        height: 11.875rem;
        line-height: 11.875rem;
    }

    .single-circle--3 {
        width: 8rem;
        height: 8rem;
        line-height: 8rem;

    }

    .single-circle--4 {
        width: 8.5rem;
        height: 8.5rem;
        line-height: 8.5rem;
    }

    .single-circle--5 {
        width: 11.25rem;
        height: 11.25rem;
        line-height: 11.25rem;
    }

    .web-genius__image-1 {
        display: none;
    }

    .web-technology {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .web-genius__image-2 {
        display: none;
    }

    .web-genius__heading {
        padding: 0 3rem;
    }

    h4 {
        font-size: 2rem;
    }

    .single-circle--6 {
        width: 11.25rem;
        height: 11.25rem;
        line-height: 11.25rem;
    }

    .single-circle--7 {
        width: 11.75rem;
        height: 11.75rem;
        line-height: 11.75rem;
    }

    .single-circle--8 {
        width: 10.75rem;
        height: 10.75rem;
        line-height: 11.75rem;
        position: relative;
        left: 29rem;
        top: 12rem;
    }

    .single-circle--9 {
        width: 10rem;
        height: 10rem;
        line-height: 10rem;
    }

    .single-circle--10 {
        width: 13.5rem;
        height: 13.5rem;
        line-height: 13.5rem;

    }

}

@media screen and (min-width: 310px) and (max-width: 479px) {
    h1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    h2 {
        line-height: 2.7rem;
        font-size: 2.3rem;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 130%;
    }

    h4 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .button-primary {
        width: 11rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1rem !important;
    }

    .button-secondary {
        width: 14.25rem;
        height: 4.25rem;
        line-height: 4.25rem;
    }

    .nft-economy__content p {
        text-align: center;
    }

    .header {
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nft-started__content-button {
        margin-bottom: 1rem;
    }

    .nav-wrapper {
        justify-content: space-between;
        column-gap: 1.5rem;
    }

    .mobile-icon-wrapper {
        display: block;
    }

    .nav-wrapper__menus{
        display: none;
        position: absolute;
        top:80px;
        width: 100%;
        backdrop-filter: blur(12px);
        padding: 30px 13px;
        border-radius: 10px;
        left: 0;
        z-index: 4;
    }
    .mobile-icon-wrapper i {
        background: linear-gradient(180deg, #FF614F -0.1%, #FF37A0 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .nav-wrapper__menu {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        margin-bottom: 2rem;
    }
    .nav-wrapper__social-icons {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .nav-wrapper__cta {
        display: flex;
        justify-content: center;
    }
    .nav-wrapper__cta .button-primary {
        width: 10.4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.2rem !important;
    }
    .nav-wrapper__menu li a {
        color: #fff;
        font-weight: 900;
    }
    .nav-wrapper__social-icons i {
        color: #fff;
        font-size: 20px;
    }
    .heading-1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .our-services {
        /* display: none; */
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
    }
    .our-services__heading {
        padding: 0;
    }
    .our-services__circles {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 0.6rem;
        row-gap: 0rem;
        justify-items: center;
        margin-bottom: 3rem;
    }
    .single-circle--1 {
        width: 11rem;
        height: 11rem;    
        line-height: 11rem;
        position: initial;
    }
    .single-circle p {
        line-height:1.7rem;
    }
    .single-circle--2{
        width: 13rem;
        height: 13rem;
        line-height: 13rem;
        position: initial;
    }
    .single-circle--3{
        width: 9.5rem;
        height: 9.5rem;
        line-height:9.5rem;
        position: initial;
        
    }
    .single-circle--4 {
        width: 9.5rem;
        height: 9.5rem;
        line-height:9.5rem;
        position: initial;
    }
    .single-circle--5 {
        position: initial;
        width: 12.25rem;
        height: 12.25rem;
        line-height: 12.25rem;
    }
    .single-circle--6 {
        position: initial;
        width: 12.25rem;
        height: 12.25rem;
        line-height: 12.25rem;
    }
    .single-circle--7 {
        position: initial;
        width: 12.75rem;
        height: 12.75rem;
        line-height: 12.75rem;
    }
    .single-circle--8 {
        position: initial;
        width: 12.75rem;
        height: 12.75rem;
        line-height: 12.75rem;
    }
    .single-circle--9 {
        position: initial;
        width: 11rem;
        height:11rem;
        line-height:11rem;

    }
    .single-circle--10 {
        position: initial;
        width: 14rem;
        height: 14rem;
        line-height: 14rem;

    }
    
    .hero {
       padding: 2rem 1rem 0 1rem;
    }

    .hero__content {
        padding: 0;
    }

    .hero__3d-image-1 {
        display: none;
    }

    .hero__3d-image-2 {
        display: none;
    }

    .hero__3d-image-3 {
        display: none;
    }

    .hero__3d-image-4 {
        display: none;
    }

    .heading-2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .web-genius__image-1 {
        display: none;
    }

    .web-genius__image-2 {
        display: none;
    }

    .big-idea__content-shape {
        display: none;
    }

    .heading-3 {
        font-size: 2.2rem;
        line-height: 140%;
    }

    .hero__content-triangle-image {
        width: auto;
        height: auto;
    }

    .big-idea {
        padding:5rem 1rem 0 1rem;
    }

    .big-idea__content {
        padding: 0;
    }

    /* .big-idea h2 {
        font-size: 3.5rem;
    } */

    .nft-economy h3 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .nft-economy {
        height: auto;
        padding:6rem 1rem 0 1rem;
    }

    .nft-economy__content-shape {
        display: none;
    }

    .nft-economy h2 {
        padding: 0;
    }

    .nft-economy__content {
        padding: 0;
    }

    .nft-started__content-image-1 {
        display: none;
    }

    .nft-started__content-image-2 {
        display: none;
    }

    .smart-contracts {
        padding: 6rem 1rem 6rem 1rem;
    }

    .smart-contracts__content {
        margin-bottom: 5rem;
        height: auto;
        width: auto;
        padding: 1.5rem;
        border-radius: 3rem;
    }

    .web-technology {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .web-genius {
        padding: 0;
    }

    .web-genius__heading {
        padding: 0;
    }

    .web-industry .grid--2-col {
        grid-template-columns: 1fr;
    }

    .our-solutions {
        height: auto;
        padding: 5rem 1rem 0 1rem;
    }

    .our-solutions__heading {
        padding: 0;
    }

    .our-solutions__content-para p {
        padding: 0;
    }

    .our-solutions__content-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .our-solutions__content {
        margin-bottom: 0
    }

    .our-solutions .grid--3-col {
        grid-template-columns: 1fr;
    }

    .our-secret {
        padding: 6rem 1rem 0 1rem;
    }

    .our-secret__heading {
        padding: 0;
    }

    /* .our-secret__heading h2 {
        font-size: 3.5rem;
    } */

    .our-secret__content {
        padding: 0;
    }

    .smart-design {
        height: auto;
        padding: 4rem 1rem 0 1rem;
    }

    .smart-design-heading {
        padding: 0;
        margin-bottom: 3rem;
    }

    .smart-design .grid--4-col {
        grid-template-columns: 1fr;
    }

    .smart-design__scroll-image {
        display: none;
    }

    .smart-design__purple-image {
        display: none;
    }

    .left-arrow-image {
        display: none;
    }

    .right-arrow-image {
        display: none;
    }

    .nft-started {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nft-started__content-wrapper {
        padding: 2rem;
    }

    .footer {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
        text-align: center;
        line-height: 4.3rem;
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.7rem;
        line-height: 4rem;
    }

    .header {
        height: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .nav-wrapper {
        justify-content: space-between;
        column-gap: 2.5rem;
    }

    .mobile-icon-wrapper {
        display: block;
    }

    .nav-wrapper__menus{
        display: none;
        position: absolute;
        top:80px;
        width: 100%;
        backdrop-filter: blur(12px);
        padding: 30px 13px;
        border-radius: 10px;
        left: 0;
        z-index: 4;
    }
    .mobile-icon-wrapper i {
        background: linear-gradient(180deg, #FF614F -0.1%, #FF37A0 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .nav-wrapper__menu {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        margin-bottom: 2rem;
    }
    .nav-wrapper__social-icons {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .nav-wrapper__cta {
        display: flex;
        justify-content: center;
    }
    .nav-wrapper__cta .button-primary {
        width: 10.4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.2rem !important;
    }
    .nav-wrapper__menu li a {
        color: #fff;
        font-weight: 900;
    }
    .nav-wrapper__social-icons i {
        color: #fff;
        font-size: 20px;
    }
    .hero {
        padding-top: 6rem;
    }

    .hero__content {
        padding: 0;
    }

    .nft-economy__content-shape {
        display: none;
    }

    .nft-started__content-button {
        margin-bottom: 1rem;
    }

    .heading-3 {
        text-align: center;
        font-size: 2.5rem;
    }

    .web-genius__image-1 {
        display: none;
    }

    .web-genius__image-2 {
        display: none;
    }

    .hero__content-triangle-image {
        padding-bottom: 2rem;
    }

    .hero__3d-image-1 {
        display: none;
    }

    .hero__3d-image-2 {
        display: none;
    }

    .hero__3d-image-3 {
        display: none;
    }

    .hero__3d-image-4 {
        display: none;
    }

    .big-idea {
        padding: 6rem 1rem 0 1rem;
    }

    .big-idea__content {
        padding: 0;
    }

    .big-idea__content-shape {
        display: none;
    }

    .nft-economy {
        padding: 6rem 1.5rem 6rem 1.5rem;
        height: auto;
    }

    .nft-economy h2 {
        padding: 0;
    }

    .nft-economy__content {
        padding: 0;
    }

    .nft-economy__content p {
        margin-bottom: 5rem;
    }

    .nft-economy h3 {
        padding: 0;
    }

    .nft-started__content-image-1 {
        display: none;
    }

    .nft-started__content-image-2 {
        display: none;
    }

    .smart-contracts {
        padding: 6rem 1.5rem 0 1.5rem;
    }

    .smart-contracts__content {
        padding: 2rem;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
    }

    .web-technology {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }

    .web-genius {
        padding: 0;
    }

    .web-genius__heading {
        padding: 0;
    }

    .web-industry__content .grid--2-col {
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
    }

    .our-solutions {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }

    .our-solutions__heading {
        padding: 0;
    }

    .single-heading h4 {
        line-height: 3rem;
    }

    .our-solutions__content-para p {
        padding: 0;
    }

    .our-solutions .grid--3-col {
        grid-template-columns: 1fr;
    }

    .our-secret {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }

    .our-secret__heading {
        padding: 0;
    }

    .our-secret__content {
        padding: 0;
    }

    .smart-design {
        padding: 6rem 1.5rem 6rem 1.5rem;
        height: auto;
    }

    .smart-design-heading {
        padding: 0;
    }

    .smart-design .grid--4-col {
        grid-template-columns: 1fr 1fr;
    }

    .smart-design__scroll-image {
        width: auto;
    }

    .smart-design .grid--3-col {
        grid-template-columns: auto 1fr auto;
    }

    .our-services {
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
    }
    .our-services__heading {
        padding: 0;
    }
    .our-services__circles {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 0.6rem;
        row-gap: 0rem;
        justify-items: center;
    }
    .single-circle--1 {
        width: 11rem;
        height: 11rem;    
        line-height: 11rem;
        position: initial;
    }
    .single-circle p {
        line-height:1.7rem;
    }
    .single-circle--2{
        width: 13rem;
        height: 13rem;
        line-height: 13rem;
        position: initial;
    }
    .single-circle--3{
        width: 9.5rem;
        height: 9.5rem;
        line-height:9.5rem;
        position: initial;
        
    }
    .single-circle--4 {
        width: 9.5rem;
        height: 9.5rem;
        line-height:9.5rem;
        position: initial;
    }
    .single-circle--5 {
        position: initial;
        width: 12.25rem;
        height: 12.25rem;
        line-height: 12.25rem;
    }
    .single-circle--6 {
        position: initial;
        width: 12.25rem;
        height: 12.25rem;
        line-height: 12.25rem;
    }
    .single-circle--7 {
        position: initial;
        width: 12.75rem;
        height: 12.75rem;
        line-height: 12.75rem;
    }
    .single-circle--8 {
        position: initial;
        width: 12.75rem;
        height: 12.75rem;
        line-height: 12.75rem;
    }
    .single-circle--9 {
        position: initial;
        width: 11rem;
        height:11rem;
        line-height:11rem;

    }
    .single-circle--10 {
        position: initial;
        width: 14rem;
        height: 14rem;
        line-height: 14rem;

    }

    .our-services__heading {
        padding: 0;
    }

    .nft-started__content-wrapper {
        padding: 3rem;
    }

    .nft-started {
        padding: 6rem 1.5rem 6rem 1.5rem;
    }

    .footer {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
}