@media screen and (max-width: 1366px) {
    html {
        font-size: 11.3px;
    }
}
@media screen and (max-width: 1290px) {
    html {
        font-size: 11px;
    }
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}