.header {
    background-color: #000;
    height: 67.5rem;
}

/******************************************
            Nav Section
******************************************/
.nav {
    padding: 2.5rem 0;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 3rem;
}
.nav-wrapper__menu {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    column-gap: 2.5rem;
}
.nav-wrapper__menus {
    display: flex;
    column-gap: 2.5rem;
}
.nav-wrapper__social-icons {
    display: flex;
    column-gap: 2.4rem;
}
.nav-wrapper__menus li a {
    font-size: 1.25rem;
    color: #fff;
}

.nav-wrapper__menus li a:hover {
    color: #FF37A0;
}

.nav-wrapper__social-icons i:hover {
    color: #FF37A0;
}

.nav-wrapper__logo {
    width: 10.68rem;
    height: 3.125rem;
}
.mobile-icon-wrapper {
    display: none;
}
/******************************************
            Hero Section
******************************************/
.hero {
    padding-top: 5.5rem;
}

.hero__content {
    padding: 0 2rem;
    position: relative;
}

.hero__content-headings h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.hero__3d-image-1 {
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: -18rem;
    top: -3rem;
}
.hero__3d-image-2 {
    width: 11.56rem;
    height: 12rem;
    position: absolute;
    right: -11rem;
    bottom: 22rem;
}
.hero__3d-image-3 {
    width: 15.375rem;
    height: 15.81rem;
    position: absolute;
    left: -5rem;
    bottom: 3rem;
}
.hero__3d-image-4 {
    width: 11.125rem;
    height: 15.06rem;
    position: absolute;
    left: -20rem;
    top: 34%;
    transform: translateY(-50%);
}
.heading-1 {
    background: linear-gradient(306.7deg, #FCD7E7 14.07%, #FFFFFF 47.53%, #B2EDE9 85.25%);
    margin-bottom: 1rem;
}

.heading-2 {
    background: linear-gradient(180deg, #FF614F -0.1%, #FF37A0 99.96%);
    margin-bottom: 2rem;
}

.heading-3 {
    text-align: center;
    margin-bottom: 3rem;
}

.hero__content-button {
    margin-bottom: 4rem;
}

.hero__content-button a {
    margin: auto;
}

.hero__content-triangle-image {
    width: 26.56rem;
    height: 17rem;
    margin: auto;
}

/******************************************
           Big Idea Section
******************************************/
.big-idea {
    padding-top: 15rem;
}

.big-idea__content {
    padding: 0 5.875rem;
    position: relative;
}
.big-idea__content-shape {
    width: 13.43rem;
    height: 22.06rem;
    position: absolute;
    right: -19.4rem;
    top: -8rem;
}
.big-idea__content p {
    text-align: center;
}

.big-idea h2 {
    text-align: center;
    margin-bottom: 1.8rem;
}

.para-1 {
    margin-bottom: 2rem;
}

.para-2 {
    margin-bottom: 1.4rem;
}

.big-idea__content h4 {
    text-align: center;
}

/******************************************
           NFT Economy Section
******************************************/
.nft-economy {
    padding-top: 9rem;
    background-image: url("../images/economy-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 56.5rem;
}

.nft-economy h2 {
    padding: 0 12.875rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.nft-economy__content {
    padding: 0 5.875rem;
    position: relative;
}
.nft-economy__content-shape {
    width: 12.875rem;
    height: 15.875rem;
    position: absolute;
    left: -19rem;
    top: -4rem;
}
.nft-economy__content p {
    margin-bottom: 9rem;
}

.nft-economy h3 {
    padding: 0 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 4rem;
}

/******************************************
           Smart Contracts Section
******************************************/
.smart-contracts {
    padding-bottom: 10rem;
}

.smart-contracts__content {
    background-image: url("../images/contract-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 53.125rem;
    height: 39.875rem;
    margin: auto;
    padding: 3.75rem;
}

.smart-contracts__content-image {
    width: 3.75rem;
    height: 3.75rem;
}

.smart-contracts__content p {
    color: #fff;
}

.smart-contracts__content h4 {
    color: #fff;
}

.smart-contracts__content {
    display: grid;
    grid-template-rows: 1fr auto auto;
    row-gap: 2.5rem;
    margin-bottom: 10rem;
}

.smart-contracts__button {
    display: grid;
    justify-items: center;
}

/******************************************
           Our Solution Section
******************************************/
.our-solutions {
    background-image: url("../images/solution-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 59.75rem; */
    padding-top: 7rem;
}

.our-solutions__heading {
    padding: 0 18rem;
    text-align: center;
    margin-bottom: 4rem;
}

.our-solutions__heading h2 {
    margin-bottom: 1.8rem;
}

.our-solutions__content {
    margin-bottom: 3rem;
}

.our-solutions__content-wrapper {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    margin-bottom: 1.7rem;
}

.our-solutions__content-para p {
    padding: 0 6rem;
    text-align: center;
}

.single-heading--1 {
    background: linear-gradient(180deg, #FF614F -0.1%, #FF37A0 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.single-content {
    text-align: center;
}

.single-content .single-content__image {
    margin: auto;
    height: 3rem;
}

.single-content__image--1 {
    width: 3.125rem;
}

.single-content__image--2 {
    width: 2.56rem;
}

.single-content__image--3 {
    width: 3.125rem;
}

.single-content h5 {
    margin-bottom: 1.8rem;
    margin-top: 1.9rem;
}

.our-solutions .grid--3-col {
    justify-items: center;
}

.our-solutions .grid--2-row {
    justify-items: center;
}

.our-solutions__button {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.our-solutions__triangle-image {
    width: 15.06rem;
    height: 9.625rem;
    margin: auto;
}

/******************************************
           Our Secret Section
******************************************/
.our-secret {
    text-align: center;
    padding-top: 7rem;
}

.our-secret__heading {
    margin-bottom: 2rem;
    padding: 0 23rem;
}

.our-secret__content {
    padding: 0 7rem;
}

.our-secret__content p {
    margin-bottom: 2.3rem;
}

/******************************************
           smart design Section
******************************************/
.smart-design {
    padding-top: 5rem;
    background-image: url("../images/image\ 5.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 100%;
    height: 54rem;
}

.smart-design-heading {
    padding: 0 14rem;
    text-align: center;
    margin-bottom: 4rem;
}

.smart-design-heading h3 {
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.smart-design__content-image {
    width: 3.75rem;
    height: 3.75rem;
    margin-bottom: 1.25rem;
}

.smart-design__content h5 {
    margin-bottom: 1rem;
}

.smart-design__bar-image {
    width: 5rem;
    height: 0.3125rem;
    margin: auto;
}

.smart-design__scroll-image {
    width: 71rem;
    height: 0.1875rem;
}

.left-arrow-image {
    width: 1.5rem;
    height: 1.5rem;
}

.right-arrow-image {
    width: 1.5rem;
    height: 1.5rem;
}

.smart-design .grid--4-col {
    margin-bottom: 5rem;
}

.smart-design__purple-image {
    width: 24rem;
    height: 0.3125rem;
}

/******************************************
           Web Technology Section
******************************************/
.web-technology {
    background-color: #000;
    padding-top: 7.5rem;
    padding-bottom: 9rem;
}

.web-genius__logo {
    width: 17.125rem;
    height: 5rem;
    margin: auto;
}

.web-genius {
    padding: 0 7rem;
    position: relative;
}
.web-genius__image-1 {
    width: 16.75rem;
    height: 16.65rem;
    position: absolute;
    right: -17rem;
    top: -13rem;
}
.web-genius__image-2 {
    width: 15.375rem;
    height: 15.81rem;
    position: absolute;
    left: -16rem;
    bottom: -48rem;
}

.web-genius__bar-image {
    width: 5rem;
    height: 0.3125rem;
    margin: auto;
}

.web-genius__content {
    text-align: center;
}

.web-genius__content p {
    margin-bottom: 2rem;
}

.web-genius__heading {
    text-align: center;
    padding: 0 16rem;
    margin-bottom: 4rem;
    margin-top: 1.6rem;
}

.web-genius__heading h3 {
    background: linear-gradient(306.7deg, #FCD7E7 14.07%, #FFFFFF 47.53%, #B2EDE9 85.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 2rem;
}

.web-industry__heading {
    background: linear-gradient(180deg, #FF614F -0.1%, #FF37A0 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
    text-align: center;
}

.industry-growth {
    border: 1px solid #1C1C1E;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
}

.industry-growth__heading {
    margin-bottom: 2rem;
    border-bottom: 1px solid #1C1C1E;
}

.industry-growth__heading h4 {
    background: linear-gradient(306.7deg, #FCD7E7 14.07%, #FFFFFF 47.53%, #B2EDE9 85.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.2rem;
}

.industry-growth__heading h5 {
    color: #8E8E93;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
}

.industry-growth__para p {
    color: #8E8E93;
}
/******************************************
           Our Services Section
******************************************/
.our-services {
    background-image: url("../images/layer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 61rem;
    padding-top: 6rem;
}
.our-services__heading h2 {
    margin-bottom: 1.5rem;
}
.our-services__heading {
    padding:0 23rem ;
    text-align: center;
    margin-bottom: 5rem;
}
.our-services__circles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4rem;
}
.single-circle {
    background: linear-gradient(180deg, rgba(255, 97, 79, 0.5) -0.1%, rgba(255, 55, 160, 0.5) 99.96%);
    border-radius: 200px;
    text-align: center;
    display: grid;
    align-items: center;
    color: #fff;
    padding:0 1.6rem;
}
.single-circle:hover {
    background: linear-gradient(180deg, #FF614F -0.1%, #FF37A0 99.96%);
    cursor: context-menu;
}
.our-services__circles {
    position: relative;
}
.single-circle--1 {
    width: 11rem;
    height: 11rem;    
    line-height: 11rem;
    position: absolute;   
    top: 4rem;
    left: 3rem; 
}
.single-circle--2{
    width: 13.875rem;
    height: 13.875rem;
    line-height: 13.875rem;
    position: absolute;
    left: 24%;
}
.single-circle--3{
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    position: absolute;
    top: 0;
    left: 48%;
    
}
.single-circle--4 {
    width: 10.5rem;
    height: 10.5rem;
    line-height: 10.5rem;
    position: absolute;
    top: 9rem;
    left:61%;
}
.single-circle--5 {
    width: 13.25rem;
    height: 13.25rem;
    line-height: 13.25rem;
    position: absolute;
    right: 6rem;
    top: 2rem;
}
.single-circle--6 {
    width: 13.25rem;
    height: 13.25rem;
    line-height: 13.25rem;
    position: absolute;
    left: 0;
    top:20rem;
}
.single-circle--7 {
    width: 13.75rem;
    height: 13.75rem;
    line-height: 13.75rem;
    position: absolute;
    top:17rem;
    left: 17rem;
}
.single-circle--8 {
    width: 13.75rem;
    height: 13.75rem;
    line-height: 13.75rem;
    position:absolute;
    top:13rem;
    left: 34rem;
}
.single-circle--9 {
    width: 12rem;
    height:12rem;
    line-height:12rem;
    position: absolute;
    right: 20rem;
    top: 23rem;
}
.single-circle--10 {
    width: 15.5rem;
    height: 15.5rem;
    line-height: 15.5rem;
    position: absolute;
    top: 20rem;
    right: 0;
}
/******************************************
           NFT Started Section
******************************************/
.nft-started__content {
    background-color: #000;
    border-radius: 3rem;
    position: relative;
}
.nft-started__content-image {
    width: 5rem;
    height: 0.3125rem;
    margin: auto;
}
.nft-started__content-image-1 {
    width: 13.75rem;
    height: 14rem;
    position: absolute;
    right:-5rem;
    top: 3rem;
}
.nft-started__content-image-2 {
    width: 15.375rem;
    height: 15.81rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
}
.nft-started__content-heading h3 {
    background: linear-gradient(306.7deg, #FCD7E7 14.07%, #FFFFFF 47.53%, #B2EDE9 85.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    font-weight: 700;
}
.button-started {
    width: 14.81rem;
    height:3.875rem;
    line-height: 3.875rem;
    font-size:1.25rem !important;
}
.nft-started__content-wrapper {
    padding: 5.625rem 17rem;
}
.nft-started__content-wrapper p {
    color: #8E8E93;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.nft-started__content-button {
    display: grid;
    justify-content: center;
}
.nft-started__content-heading {
    text-align: center;
}
/******************************************
           Footer Section
******************************************/
.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.footer__content {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
}

.footer__content-logo {
    width: 13.93rem;
    height: 5rem;
}

.footer__content p {
    color: #636366;
    text-align: center;
}

.footer__content-social-icons i {
    color: #636366;
    font-size: 1.5rem;
}
.footer__content-social-icons i:hover {
    color: #FF37A0;
}
.footer__content-social-icons {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    justify-content: center;
}